<main>
  <app-card gameCover="assets/bt-1.jpg" gameLabel="Exclusive" gameType="PS4" gamePrice="R$199.99"></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="Digital" gameType="PC" gamePrice="R$399.99"></app-card>
  <app-card gameCover="assets/bt-5.jpg" gameLabel="Digital" gameType="PS5" gamePrice="R$499.99"></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gameLabel="New" gameType="PS3 PS4 PS5" gamePrice="R$299.99"></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Exclusive" gameType="PS5 PC" gamePrice="R$599.99"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="New" gameType="PC" gamePrice="R$399.99"></app-card>
</main>
